/********** 0 - 767px **********/
@media screen and (min-width: 0px) {
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/decoreative/people-office.jpg");
    }
  }
}

/********** 428px + **********/
@media screen and (min-width: 428px) {
  .container {
    margin: auto;
    max-width: 396px;
  }
  .section {
    padding: 96px 0;
  }
  .about-item-ttl {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    margin-bottom: 8px;
    text-align: center;
  }
  .mobile-menu-social-networks-list {
    justify-content: flex-start;
    gap: 56px;
  }

  .mobile-contacts-tel .mobile-contacts-link {
    font-size: 36px;
  }

  .modal {
    width: 392px;
  }

  .modal-form-check-descr {
    display: flex;
    align-items: center;
  }

  .customers-list {
    column-gap: 16px;
    row-gap: 72px;
  }

  .customers-icon-link {
    padding-right: 32px;
    padding-left: 32px;
  }
  .icons {
    display: none;
  }

  .header-nav {
    display: none;
  }
}

/********** 768 - 1157px **********/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .subtitle {
    text-align: start;
  }
  .about-item-ttl {
    text-align: left;
  }
  .header-container {
    display: flex;
    align-items: center;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .mobile-menu,
  .open-menu-btn {
    display: none;
  }

  .menu,
  .header-contact {
    display: flex;
    align-items: center;
    display: none;
  }

  .menu {
    gap: 40px;
  }

  .menu-link {
    position: relative;

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    padding-bottom: 28px;

    transition: color 250ms var(--animation-timing-function);
  }

  .menu-link:hover,
  .menu-link:focus,
  .menu-link:active {
    color: var(--accent-color);
  }

  .menu-link-current {
    color: var(--accent-color);
  }

  .menu-link-current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }

  .header-contact {
    flex-direction: column;
    gap: 12px;
    display: none;
  }

  .contacts-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--body-text-color);

    transition: color 250ms var(--animation-timing-function);
  }

  .contacts-link:hover,
  .contacts-link:focus,
  .contacts-link:active {
    color: var(--accent-color);
  }

  .hero {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/decoreative/people-office.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/decoreative/people-office.jpg");
      /* url("../images/bg-img/bg-tabl@2x.jpg"); */
    }
  }

  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 72px;
  }

  .modal {
    width: 408px;
  }

  .btn:hover,
  .btn:focus,
  .btn:active {
    background-color: var(--accent-color);
  }

  .about-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .about-item {
    width: 356px;
  }

  .about-item-ttl {
    text-align: left;
  }

  .team-section-container {
    width: 582px;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 64px;
    column-gap: 24px;
  }

  .team-item {
  }

  .social-link:hover,
  .social-link:focus {
    background-color: var(--accent-color);
  }

  .customers-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .customers-list-link:hover,
  .customers-list-link:focus {
    border-color: var(--accent-color);
  }

  .customers-list-link:hover .customers-list-icon,
  .customers-list-link:focus .customers-list-icon {
    fill: var(--accent-color);
  }

  .page-footer-container {
    row-gap: 72px;
    column-gap: 24px;
    width: 582px;
    justify-content: flex-start;
  }

  .logo-text-footer,
  .footer-subtitle {
    text-align: left;
  }

  .footer-social-networks-link:hover,
  .footer-social-networks-link:focus {
    background-color: var(--success-messages-color);
  }

  .footer-form-wrapper {
    position: relative;
    display: flex;
    align-items: left;
    margin: 0;
    padding: 0;
    row-gap: 0;
    column-gap: 24px;
  }

  .footer-form-field {
    width: 264px;
  }

  .footer-form-input {
    width: 100%;
    margin: 0;
  }

  .footer-form-submit {
    margin: 0;
  }

  .footer-form-submit:hover,
  .footer-form-submit:focus,
  .footer-form-submit:active {
    background-color: var(--accent-color);
  }

  .modal-close-btn:hover,
  .modal-close-btn:focus {
    background-color: var(--accent-color);
    border-color: transparent;
  }

  .modal-close-btn:hover .modal-close-btn-icon,
  .modal-close-btn:focus .modal-close-btn-icon {
    fill: var(--hero-text-color);
  }

  .modal-form-submit:hover,
  .modal-form-submit:focus,
  .modal-form-submit:active {
    background-color: var(--accent-color);
  }

  .portfolio-section {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .filter-btn-list {
    justify-content: center;
    margin-bottom: 64px;
  }

  .filter-btn:hover,
  .filter-btn:focus,
  .filter-btn:active {
    color: var(--hero-text-color);
    background-color: var(--accent-color);
    border-color: transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  .portfolio-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .portfolio-list-link:hover .overlay,
  .portfolio-list-link:focus .overlay,
  .portfolio-list-link:active .overlay {
    transform: translate(0, 0);
  }
}

/********** 1158px + **********/
@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .container {
    max-width: 1158px;
  }

  .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .text {
    font-weight: 400;
  }

  .logo-text {
    margin-right: 76px;
  }

  .header-nav {
    margin-right: auto;
  }

  .header-contact {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
  }

  .contacts-link {
    font-size: 16px;
  }
  .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    background-color: var(--color-cloud);
    border-radius: 4px;
  }
  .hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/decoreative/people-office.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/decoreative/people-office.jpg");
      /* url("../images/bg-img/bg-desk@2x.jpg"); */
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }

  .modal {
    top: 80px;
  }

  .about-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .about-item {
    width: 264px;
    flex-basis: calc((100% - 72px) / 4);
  }

  .about-item-ttl {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    margin-bottom: 8px;
  }

  .about-icon {
    display: block;
  }

  .examples-of-work {
    display: block;
    padding-bottom: 120px;
  }

  .examples-of-work-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
  }

  .examples-of-work-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  .team-section-container {
    width: 1158px;
  }

  .team-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .customers-list {
    gap: 20px;
  }

  .page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .page-footer-container {
    width: 1158px;
    flex-wrap: nowrap;
    gap: 0;
  }

  .logo-text-footer-wrapper {
    margin-right: 120px;
  }

  .footer-social-networks-wrapper {
    margin-right: 80px;
  }

  .portfolio-section {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .filter-btn-list {
    margin-bottom: 72px;
  }

  .portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-list-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}
